body {
  background-color: rgb(234, 156, 127);
}

.navbar1 {
  height: 50px;
  background-color: rgb(239, 143, 108);
  justify-content: center;
}

.navbar1 ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
}

.navbar2 {
  height: 50px;
  justify-content: center;
}

.navbar2 ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding: 10px;
  overflow-x: auto;
  min-height: 80;
}
section {
  padding: 20px;
  margin: 3px;
  display: flex;
  justify-content: center;
  min-width: 300px;
  background-color: rgb(219, 218, 218);
}
